-var pageTitle = "عالم الكتب _ تحميل كتب pdf";
<!DOCTYPE html>
html(lang="ar",dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include pug/layouts/styles.pug
        title #{pageTitle}
    body

      include pug/components/headerLogo
      include pug/components/headerNavbar
      .page.homepage  
         .content-area.container
            h1.page_title.line_buttom أقسام الكتب
                span.categories_count (720 قسما)
            .row
              .col-md-9
                .row.books_section
                  - for (var i=0; i<60; i++)
                      include pug/components/categorie 
                    
              .col-md-3
                - var sidebar_title = " أقسام الكتب";
                - var link = "الروايات والقصص الأدبية";
                include pug/components/sidebar
                - var sidebar_title = " مؤلفون الكتب";
                - var link = "مصطفى محمود";
                include pug/components/sidebar
            
    include pug/layouts/scripts.pug