-var pageTitle = "worldBooks";
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
    body
      .page.homepage
         include pug/components/sidebar
         .content-area
           h1 #{pageTitle}