.header_logo{
    border-top: 3px solid $mainColor;
    width: 100%;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    img{
        height: 120px;
    }
}

.navbar {
    padding: 0;
    min-height: 52px;
    border-radius: 0;
    border: 1px;
    box-shadow: rgba(0,0,0,.04) 0 3px 6px;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    
    .a_navbar_logo {
        padding: 5px 13px;
        padding-right: 0;
        margin-right: 0;
        @media screen and (max-width: 600px) {
            padding-right: 13px;
          }
    }
    .navbar-brand img{
        width: 40px;
    }
    .navbar-nav{
        padding-right: 0;
        li.nav-item{
            margin-right: 0 !important;
            a.nav-link{
                color: #333;
                font-weight: 500;
                z-index: 1001;
                padding-left: 15px!important;
                padding-right: 15px!important;
                margin-right: 0;
                margin-left: 0;
                font-size: 17px;
                padding-top: 16px;
                padding-bottom: 16px;  
                line-height: 20px;
                &.search-a{
                    color: #37aa94;
                    i {
                        margin-left: 9px;
                    }
                    @media screen and (max-width: 990px) and (min-width : 766px) {
                        display: none;
                      }

                }
            }
            &.active{
                a.nav-link{
                    background: #e7e7e7;
                }
                
            }

        }
    }
    .header_login_actions{
        left: 0;
        .btn{
            font-size: 15px;
        }
        .login-btn {
            font-size: 15px;
            margin-left: 8px;
            margin-left: 8px;
        }
        @media screen and (max-width : 766px) {
            width: 100%;
            text-align: left;
            display: block;
            margin-bottom: 20px;
            padding-left: 9px;
            position: static !important;
        }
        &.is_logged_in img{
            width: 26px;
            height: 26px;
            border: 1px solid #fff;
            border-radius: 50%;
            top: 7px;
            margin-left: 3px;
        }

        .user_actions_list{
            padding: 0;
            left: 2px;
            right: inherit;
            //display: block !important;
            li{
                &:hover {
                    background-color:#45b09e;
                    transition: all .3s ease-in-out;
                }
                a{
                    padding: 10px 10px 10px 10px!important;
                    font-size: 15px;
                    color: black;
                    display: block;
                    &:hover{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .dropdown-divider{
                margin:0;
            }
        }
        .btn_user_notification{
            padding: 3px 12px;
            font-size: 21px;
        }    
    }

}


.modal-footer {
    display: block;
    border: none;
    padding-top: 0;
}
.modal-header{
    border: none;
}