.col-lg-3.col-md-4.col-sm-4.col-6
    a(class="writer_component" title="كاتب غير محدد" href="/كتب-غير-محدد-pdf")
        .book_component
            .writer_img_block
                img(class="writer_img" title="كاتب غير محدد" alt="كاتب غير محدد" src="https://www.nourbook.com/publice/images/user.png")
            h3 كاتب غير محدد
            .book_rating 
                span.user_rating_count
                    .stars_rating 
                        .empty_stars 
                        .full_stars(style="width: 83.206%;right: 0;")
                span.rating_stars (230)
            p
                i.fa.fa-book 
                |23,894 كتاب