.col-lg-3.col-md-4.col-sm-4.col-6
    .book_component
        .book_rating
            span.user_rating_count
                .stars_rating
                    .empty_stars
                    .full_stars(style="width: 83.206%;right: 0;")
            span.rating_stars (230)
        a(href="#" class="book_poster" title="book_title")
            div(class="image_book_container" style="background: rgba(45, 52, 54,0.4)")
                img(src="https://via.placeholder.com/130x180", alt="book_name")
        a(href="#" class="book_title" title="book_title" )
            h3 نظرية الفستق
        a(href="#" class="book_author" title="book_author" )
            p فهد عامر الأحمدي
        