ol.breadcrumb
    li
        a(href="/")
            i.flaticon-home-page
            |الرئيسية
    li
        a(href="/كتب-فهد-عامر-الأحمدي-pdf") فهد عامر الأحمدي
    li
        a(href="/كتب-التنمية-البشرية-وتطوير-الذات-pdf") التنمية البشرية وتطوير الذات
    li.active نظرية الفستق