.col-lg-3.col-md-4.col-sm-4.col-6
    a(class="category_component" title="الروايات والقصص الأدبية" href="/كتب-الروايات-والقصص-الأدبية-pdf")
        .book_component
            h3  الروايات والقصص الأدبية
            p
                i.fa.fa-book  
                | 4,684 كتاب